* {
    font-family: Roboto, sans-serif;
}

header,
.hero,
footer {
    background-color: #1F2937;
    color: #F9FAF8;
}

.random-info {
    color: #1F2937;
}

.inspiring-quote {
    background-color: #E5E7EB;
    color: #1F2937;
}
